.intro {
	border: 5px white solid;
	padding: 25px;
/*	color: white;
	padding: 3vw;
	font-size: 4vw;*/
}

/*.intro a {
	font-size: 3vw;
	background-color: transparent;
	border: 4px solid white;
	color: white;
	padding: 8px 16px;
	transition: background-color,border 0.2s linear;
}
.intro a:hover {
	background-color: #b22222;
	border: 4px solid #b22222;
}*/