section {
	display: none;
}

#test-langues .test-langue {
	display: none;
}

.bootstrap-select {
	margin-bottom: 2.5rem;
}

.btn.dropdown-toggle.bs-placeholder.btn-info {
  background:white;
  border-color: #bf9f00;
}

.btn.dropdown-toggle {
  padding: 10px 16px;
  font-size: 18px;
}

.main-background {
  background:white right center no-repeat;
  background-size: cover;
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  width:55%;
  z-index:50;
}

.main-background:after {
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(10, 10, 10, 0.4);
}

@media (max-width: 770px) {
  main {
    min-width: 0 !important;
    width:auto !important;
    right:0 !important;
  }

  .main-background {
    display: none;
  }
}

main {
  width:45%;
  min-width: 660px;
  padding:16px 25px;
  background: url('../assets/images/pattern.png');
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  overflow: auto;
  z-index:100;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,0.4);
}

main header {
  background: #fedc32;
  color: black;
  border-bottom: 5px solid black;
  margin:-16px -25px 0;
  padding:16px 25px;
}

main header h1 {
  font-weight: bolder;
}

main .btn.btn-default.btn-block.btn-lg {
	margin-top:1.5rem !important;
	white-space: normal;
}

main blockquote {
  background: black;
  font-size: 1.4em;
}

.map-wrap {
    height:0;
    margin-top:1.5rem;
    padding-top:97.63%; /* 1200px/1230px */
    position: relative;
}

.map-wrap svg {
  height: 100%;
  display:block;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #323845;
  z-index:1000;
  color: white;
  text-align: left;
  overflow: auto;
  padding:10vh 5vw;
  display: none;
}

.overlay .content {
  color:white;
  font-size: 1.6em;
  line-height: 1.5;
  margin-bottom: 2vh;
  padding-left:120px;
  position: relative;
}

.overlay .content:before {
  position: absolute;
  left:0;
  top:0;
  background: no-repeat center center;
  background-size: auto 100%;
  width: 100px;
  height: 100px;
  content:"";
}

.overlay--error .content:before {
  background-image:url('../assets/images/error.svg');
}

.overlay--success .content:before {
  background-image:url('../assets/images/success.svg');
}

.overlay .btn {
  margin-left:120px;
}

#finale {
	z-index: 1000;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	padding:0;
  background: url('../assets/images/pattern.png');
}

#finale .container {
  padding-top:20vh;
}

#finale .wrapper {
	border: 5px rgba(255, 255, 255, 0.9) solid;
	padding: 25px;
  box-shadow: 10px 10px 0 0 black;
}

#finale .icon {
  margin-top:2em;
}

#finale h1 {
  background: none;
  color:white;
  font-weight: bold;  
}
