/*body {
	background: #303030;
	color: white;
}

h1 {
	font-family: Helvetica;
	font-size: 8vw;
}

@media (max-width: 992px) {
	h1 {
		font-size: 60px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 40px;
	}
}

*/